.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
  margin-top: 10vh;
}

.container img {
  object-fit: cover;
  filter: blur(1.5px);
  transform: scale(1.01);
}

.titleContainer {
  width: 40%;
  position: absolute;
  left: 2em;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 1em;
  border-radius: 1.5em;
}

.titleContainer h1 {
  font-weight: 200;
  font-size: 2.75rem;
  color: var(--primary-color);
  margin-bottom: 0.5em;
}

.titleContainer h1 span {
  font-weight: 300;
  color: var(--secondary-color);
}

.titleContainer h3 {
  font-weight: 100;
  font-size: 1.25rem;
  color: var(--primary-color);
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    height: 85vh;
    margin-top: 15vh;
  }

  .titleContainer {
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .titleContainer h1 {
    font-size: 2.25rem;
  }
}

/* Landscape Mobile */
@media (max-width: 700px) and (orientation: landscape) {
  .titleContainer {
    width: 60%;
    left: 2em;
    margin: 0;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .titleContainer {
    width: 50%;
  }

  .titleContainer h1 {
    font-size: 2.5rem;
  }
}
