.container {
  width: 85%;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 3em auto;
}

.container h3 {
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
}

.container h2 {
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}

.container p {
  font-size: 1rem;
  text-align: center;
  color: grey;
}

/* Mobile */
@media (max-width: 700px) {
  .container h3 {
    font-size: 2rem;
  }

  .container h2 {
    font-size: 2rem;
  }

  .container p {
    font-size: 1rem;
    text-align: center;
    color: grey;
  }
}
