:root {
  --primary-color: white;
  --secondary-color: rgb(0, 217, 255);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: rgb(214, 219, 220);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
