.container {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9),
    rgba(1, 158, 255, 0.9)
  );
  z-index: 100;
}

.title {
  font-weight: 400;
  font-size: 3rem;
  color: var(--secondary-color);
  text-align: center;
  transition: var(--hover-animation);
}

.title:hover {
  transform: scale(1.1);
  transition: var(--hover-animation);
}

.title span {
  font-weight: 200;
  font-size: 2.5rem;
  font-style: italic;
  color: var(--primary-color);
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .title {
    font-size: 1.75rem;
  }

  .title span {
    font-size: 1.25rem;
  }
}

/* Landscape Mobile */
@media (max-width: 700px) and (orientation: landscape) {
  .container {
    flex-direction: row;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .title {
    font-size: 2.25rem;
  }

  .title span {
    font-size: 1.75rem;
  }
}
