.container {
  min-width: 500px;
}

.container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inactiveLink {
  color: var(--primary-color);
  transition: var(--hover-animation);
}

.activeLink {
  transform: scale(1.1);
  color: var(--secondary-color);
}

.container ul li a {
  font-size: 1.25rem;
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    min-width: 325px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .container {
    min-width: 425px;
  }
}

/* Hover */
@media (hover: hover) {
  .inactiveLink:hover {
    transform: scale(1.1);
    color: var(--secondary-color);
    transition: var(--hover-animation);
  }
}
