.container {
  width: 75%;
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(9, 32, 56);
  margin: 3em auto;
  border-radius: 1.25em;
  box-shadow: 5px 5px 5px grey;
}

.iconContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container article {
  width: 60%;
  padding: 1em;
}

.container article h2 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.25em;
}

.container article p {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1em;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputContainer input {
  width: 70%;
  height: 45px;
  border: 1px solid white;
  border-radius: 2em;
  background-color: rgba(70, 68, 68, 0.5);
  color: white;
  font-size: 1rem;
  padding: 0 1em;
}

.inputContainer button {
  width: 25%;
  height: 45px;
  border-radius: 2em;
  background-color: var(--secondary-color);
  border: 0;
  color: black;
  font-size: 1rem;
  transition: all 200ms ease;
  cursor: pointer;
  transition: var(--hover-animation);
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    width: 90%;
    flex-direction: column;
  }

  .iconContainer {
    width: 100%;
  }

  .container article {
    width: 100%;
    text-align: center;
    padding: 0 1em 1em 1em;
  }

  .container article h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }

  .container article p {
    display: none;
  }

  .inputContainer {
    flex-direction: column;
  }

  .inputContainer input {
    width: 100%;
    margin-bottom: 0.75em;
  }

  .inputContainer button {
    width: 100%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .container {
    width: 90%;
  }
}

/* Hover */
@media (hover: hover) {
  .inputContainer button:hover {
    background-color: var(--primary-color);
    transition: var(--hover-animation);
  }
}
