.container {
  width: 100%;
  min-height: 90vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10vh;
}

.container img {
  object-fit: cover;
  filter: blur(2px);
  transform: scale(1.01);
  z-index: 1;
}

.priceBox {
  width: 85%;
  min-height: 85%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 1em;
  border-radius: 1.5em;
  z-index: 2;
}

.priceBox article {
  width: 30%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1em;
  overflow: hidden;
}

.header {
  width: 100%;
  text-align: center;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.header h3 {
  font-weight: 400;
  font-size: 1.75rem;
  color: var(--primary-color);
  padding: 0.25em;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9),
    rgba(1, 158, 255, 0.9)
  );
}

.commonHeader h3 {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9),
    rgba(118, 159, 186, 0.9)
  );
}

.header h4 {
  font-weight: 400;
  font-size: 1.75rem;
  padding: 0.25em;
  color: black;
}

.header p {
  font-weight: 400;
  font-size: 1rem;
  color: grey;
}

.body {
  width: 100%;
  padding: 0.5em 1em 0 1em;
}

.body h5 {
  font-size: 1rem;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 1em;
}

.body ul {
  padding: 0 1em;
}

.body ul li {
  list-style: disc;
  margin-bottom: 0.75em;
}

.body ul li p {
  font-size: 1rem;
  color: black;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.footer button {
  width: 90%;
  height: 40px;
  border-radius: 2em;
  background-color: black;
  border: 0;
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
  transition: var(--custom-animation);
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    min-height: 85vh;
    margin-top: 15.7vh;
    padding: 1em 0;
  }

  .priceBox {
    flex-direction: column;
  }

  .priceBox article {
    width: 100%;
    margin: 0.5em 0;
  }

  .header h3 {
    font-size: 1.5rem;
  }

  .header h4 {
    font-size: 1.5rem;
  }
}

/* Landscape Mobile */
@media (max-width: 700px) and (orientation: landscape) {
  .container {
    min-height: 90vh;
  }

  .priceBox {
    flex-direction: row;
  }

  .priceBox article {
    width: 45%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .container {
    padding: 1em 0;
  }

  .priceBox article {
    width: 45%;
    margin: 0.5em 0;
  }
}

/* Hover */
@media (hover: hover) {
  .footer button:hover {
    background-color: var(--secondary-color);
    transition: var(--custom-animation);
  }
}
